<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    子育ての悩みをみんなで共有する日記投稿アプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
 
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='kodomo-details'>
      <h2 class='footer-content-head'>KODOMO</h2>
      
    </div>
    
   
  </div>
  <%#= link_to image_tag("a", class:"logo-white"), "#" %>
  <p>© KODOMO</p>
</div>